# dependencies
node_modules/
/.pnp
.pnp.js
package-lock.json
yarn.lock

# testing
/coverage
*.lcov
.nyc_output

# build
build/
public/build/
dist/
generated/

# logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# misc
.idea
.cache/
tmp/
temp/
*.tsbuildinfo
._*
.DS_Store
Thumbs.db
\#*
.\#*